<% include partials/header %>

<div class="container-fluid">

    <h1><%= title %></h1>

    <% albums.forEach( function( album ){ %>
    <p><a href="album/<%= album.id %>"><%= album.title %></a></p>
    <% }); %>

</div>

<% include partials/footer %>